<!-- right section form part start -->
<section class="rightsection-form">
        <div class="col-md-8">
            <h2 class="registeras-tutor">Register as a Tutor</h2>
            <!-- form start -->
            <form class="register-form-width">
                <div class="form-group register-formgroup-m">
                    <label for="fullUserName" class="registration-label">Full Name</label>
                    <input type="text" class="form-control inputField" id="fullUserName" placeholder="Enter Full Name">                            
                </div>
                <div class="form-group register-formgroup-m">
                    <label for="mobilenumber" class="registration-label">Mobile Number</label>
                    <input type="tel" class="form-control inputField" id="mobilenumber" placeholder="Mobile Number">
                </div>  
                <div class="registerbtn-main">                     
                    <button 
                        type="button" 
                        class="btn cta-primary registernow-btn" 
                        data-toggle="modal" 
                        data-target="#varifyMobile">
                        Register Now
                    </button>
                </div> 
                <p class="alreadylogin-text">Already have an account, <a class="link-cls" href="#">Log in</a></p>
            </form>
            <!-- form end -->
            <p class="agree-termspolicy">By Signing up, I agree to Gyanum's <a class="link-cls" href="#">Terms of use</a> and <a class="link-cls" href="#">Privacy Policy</a></p>
        </div>
    </section>
    <!-- right section form part end -->
    <app-v-otp></app-v-otp>