<!--Header Section-->
<header class="fixed-top navbar navbar-expand-md" id="navbar-fixed">
    <div class="container">
        <a class="navbar-brand gyanum-logo" href="/">
            Gyanum
        </a>
        <div class="navbar-login justify-content-end">
            <ul class="nav navbar-nav custom_responsivecls">
                <li class="nav-item"><button type="button" [routerLink]="'/tutor-register'" class="btn cta-default btnSamewth btnSignup">Sign Up</button></li>
                <li class="nav-item"><button type="button" class="btn cta-primary">Log In</button></li>
                <li class="dropdown menu-large nav-item"> <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown"><span class="menu_text">Menu</span> <i class="iconG-menu"></i></a>
                    <ul class="dropdown-menu megamenu fadeInUp animated">
                        <div class="row">
                                <div class="container">
                                    <div class="row">
                                        <div class="col-md-7">
                                            <ul class="col-md-8 dropMenu">
                                                <li class="dropdown dropright">
                                                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">01  About Us</a>
                                                    <ul class="dropdown-menu">
                                                        <li><a class="dropdown-item" href="#">About Us</a></li>
                                                        <li><a class="dropdown-item" href="#">Our Team</a></li>
                                                        <li><a class="dropdown-item" href="#">Contact Us</a></li>
                                                        <li><a class="dropdown-item" href="#">FAQs</a></li>
                                                    </ul>
                                                </li>
                                                <li class="dropdown dropright">
                                                    <a href="tutor-registration.html">02  Become A Tutor</a> 
                                                </li>
                                                <li class="dropdown dropright">
                                                    <a href="#">03  Become A Student</a>
                                                </li>
                                                <li class="dropdown dropright">
                                                    <a href="#">04  Instant Doubt Resolution</a>
                                                </li>
                                                <li class="dropdown dropright">
                                                    <a href="#">05  Question of the Day</a>
                                                </li>
                                                <li class="dropdown dropright">
                                                    <a href="#">06  Resources</a>
                                                </li>
                                            </ul>
                                            
                                        </div>
                                        <div class="col-md-5 blogSec">
                                            <h4>Latest update from blog</h4>
                                            <div class="row">
                                                <div class="col-md-6 col-xs-12">
                                                    <div class="blogBox"></div>
                                                </div>
                                                <div class="col-md-6 col-xs-12">
                                                    <div class="blogBox"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="col-md-12 navfooter">
                                   <div class="container">
                                       <div class="row">
                                            <div class="col-md-10">
                                                <ul>
                                                    <li><a href="#">Privacy Policy</a></li>
                                                    <li><a href="#">Terms Conditions</a></li>
                                                    <li><a href="#">Blogs</a></li> 
                                                </ul>
                                                <p>&copy 2018 Gyanum.com, All rights reserved.</p>
                                            </div>
                                            <div class="col-md-2 navsocialS float-right">
                                                <b>Let’s Keep in touch</b>
                                                 <ul class="navsocialIcon">
                                                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                                    <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                                                    <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>        
                                                </ul>
                                            </div>
                                        </div>
                                   </div>     
                                </div>
                        </div>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</header>
<!--Header Section End-->