<!--Footer Section-->
<section class="footer-section">
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-xs-12">
                <div class="row">
                    <div class="col-md-3 col-6">
                    <h6>Company Info</h6>
                    <ul>
                        <li><a href="#">About Us</a></li>
                        <li><a href="#">Our Team</a></li>
                        <li><a href="#">FAQs</a></li>
                        <li><a href="#">Blog</a></li>
                        <li><a href="#">Contact Us</a></li>
                    </ul>
                </div>
                <div class="col-md-3 col-6">
                    <h6>Learning with us</h6>
                    <ul>
                        <li><a href="#">Find Tutor</a></li>
                        <li><a href="#">Online Tuition</a></li>
                        <li><a href="#">Offline Tuition</a></li>
                        <li><a href="#">Instant Doubts</a></li>
                        <li><a href="#">Question of the Day</a></li>
                    </ul>
                </div>
                <div class="col-md-3 col-6">
                    <h6>Join Us</h6>
                    <ul>
                        <li><a href="#">How it works</a></li>
                        <li><a href="#">Become a student</a></li>
                        <li><a href="#">Become a tutor</a></li>
                    </ul>
                </div>
                <div class="col-md-3 col-6">
                    <h6>Resources</h6>
                    <ul>
                        <li><a href="#">Whiteboard</a></li>
                        <li><a href="#">Courses</a></li>
                        <li><a href="#">V-Store</a></li>
                    </ul>
                </div>

                <div class="col-md-12 downloadApp">
                    <div class="row">
                        <div class="downloadAppSec col-md-6">
                            <h5 class="h5">DOWNLOAD OUR FREE APP</h5>
                            
                            <div class="input-group"> 
                                    <div class="input-group-prepend">
                                        <span class="input-group-text countryCode">+91</span>
                                    </div>
                                <input type="text" class="form-control" id="validationDefaultUsername" placeholder="" aria-describedby="inputGroupPrepend2" required>
                                <div class="input-group-prepend">
                                    <button type="button" class="input-group-text">Send Link</button>
                                </div>
                            </div>
                            <p>Enter your number and we’ll text you a download link.</p>
                        </div>
                        <div class="downloadAppimg col-md-3">
                            <ul>
                                <li><a href="#"><img src="assets/google-play.png" alt="Gyanum"></a></li>
                                <li><a href="#"><img src="assets/app-store.png" alt="Gyanum"></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                </div>
            </div>

            <div class="col-md-4 col-xs-12 footerAddress">
                <h4 class="gyanum-logo">Gyanum</h4>
                <div class="gyanumSupport">
                    <span>1800-121-0206</span>
                    <p>10 AM - 8 PM (All 7 Days)<br>
                    Email ID: <a href="#">support@gyanum.com</a> </p>       
                </div>
                <div class="gyanumAddress">
                    <span>ADDRESS</span>
                    <p>N 161 A, Saira Tower, 2nd Floor Gulmohar Commercial Complex, Green Park, New Delhi – 110049</p>
                </div>
                <ul class="socialIcon">
                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>        
                </ul>
                
            </div>
        </div>
    </div>
</section>
<!--Footer Section END-->

<!--Footer CopyRight-->
<section class="footer-copyright navfooter">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-xs-12">Copyright &copy; 2018 Gyanum.com, All rights reserved.</div>
            <div class="col-md-6 col-xs-12 text-right">
                <ul>
                    <li><a href="#">Privacy Policy</a></li>
                    <li><a href="#">Terms Conditions</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>
<!--Footer CopyRight End-->



<!--Back To Top-->
<div class="backtotop"><i class="fa fa-angle-up"></i> up</div>
<!--Back To Top END-->