<div class="container-fluid">
    <!--Header and banner section-->
    <section class="landing-tutor">
        <div class="container">
          <app-header></app-header>
          <div class="bannerTxtCont text-center">
            <h2 class="delay-02s fadeInDown animated">Become A Tutor</h2>
            <h5  class="delay-04s fadeInUp animated">Gyanum connects experts with students looking for tuition</h5>
            <button onclick="window.location.href='tutor-registration.html'"  class="btn cta-primary delay-08s fadeInUp animated" type="button">Join Now</button>
        </div>
        </div>
    </section>



  <!--three Section -->
<section class="threeBlock">
    <div class="container">
        <div class="row no-gutters">
            <div class="col-md-4 d-flex p-4 fadeInUp animated">
                <div class="media block-6 d-block text-center">
                    <div class="icon d-flex justify-content-center align-items-center">
                        <span class="iconG-watch"></span>
                    </div>
                    <div class="media-body mt-3">
                        <h3 class="heading">Take Tuition at Your Convenient</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin quis tortor tellus. </p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-flex p-4 fadeInUp animated">
                <div class="media block-6 d-block text-center">
                    <div class="icon d-flex justify-content-center align-items-center">
                        <span class="iconG-user"></span>
                    </div>
                    <div class="media-body mt-3">
                        <h3 class="heading">Manage Your Account Easily</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin quis tortor tellus.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 d-flex p-4 fadeInUp animated">
                <div class="media block-6 d-block text-center">
                    <div class="icon d-flex justify-content-center align-items-center">
                        <span class="iconG-shield"></span>
                    </div>
                    <div class="media-body mt-3">
                        <h3 class="heading">100% Safe & Secure</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin quis tortor tellus.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--three Section END-->

<!-- Carousel Section-->
<section class="carousel-bg">
    <div class="container">
        <div class="carousel-container">
            <h2>Steps To Become A Tutor</h2>
            <div class="owl-carousel owl-theme becomeAtutor">
                <div class="item">
                    <div class="row">
                        <div class="col-md-5 carousel-img">
                            <img src="assets/1.png" alt="">
                        </div>
                        <div class="col-md-6">
                            <span class="step-txt">Step 1</span>
                            <h4>Register with us</h4>
                            <p>Create your profile wherein you share your personal and professional details with us. List your subject/s along with your availibilty and mode/s of teaching.</p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="row">
                        <div class="col-md-5 carousel-img">
                            <img src="assets/1.png" alt="">
                        </div>
                        <div class="col-md-6">
                            <span class="step-txt">Step 2</span>
                            <h4>Register with us</h4>
                            <p>Create your profile wherein you share your personal and professional details with us. List your subject/s along with your availibilty and mode/s of teaching.</p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="row">
                        <div class="col-md-5 carousel-img">
                            <img src="assets/1.png" alt="">
                        </div>
                        <div class="col-md-6">
                            <span class="step-txt">Step 3</span>
                            <h4>Register with us</h4>
                            <p>Create your profile wherein you share your personal and professional details with us. List your subject/s along with your availibilty and mode/s of teaching.</p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="row">
                        <div class="col-md-5 carousel-img">
                            <img src="assets/1.png" alt="">
                        </div>
                        <div class="col-md-6">
                            <span class="step-txt">Step 4</span>
                            <h4>Register with us</h4>
                            <p>Create your profile wherein you share your personal and professional details with us. List your subject/s along with your availibilty and mode/s of teaching.</p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="row">
                        <div class="col-md-5 carousel-img">
                            <img src="assets/1.png" alt="">
                        </div>
                        <div class="col-md-6">
                            <span class="step-txt">Step 5</span>
                            <h4>Register with us</h4>
                            <p>Create your profile wherein you share your personal and professional details with us. List your subject/s along with your availibilty and mode/s of teaching.</p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="row">
                        <div class="col-md-5 carousel-img">
                            <img src="assets/1.png" alt="">
                        </div>
                        <div class="col-md-6">
                            <span class="step-txt">Step 6</span>
                            <h4>Register with us</h4>
                            <p>Create your profile wherein you share your personal and professional details with us. List your subject/s along with your availibilty and mode/s of teaching.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Carousel Section END-->
<div class="container">
    <div class="tutorBigBTN">
        <button type="menu" onclick="window.location.href='tutor-registration.html'"  class="btn big-BTN">Register As A Tutor</button>
    </div>   
</div>




<!--Teacher Testimonials-->
<section class="teacher-testimonials">
    <div class="container">
            <div class="testimonials-container">     
            <h2>Teacher Testimonial</h2>    
            <div class="owl-carousel owl-theme tTestimonials">
                <div class="item">
                    <div class="row">
                        <div class="col-md-3 testimonial-img">
                            <div class="teacherPic"><img src="assets/anuj-gupta.png" alt="Anuj Gupta"></div>
                            <span class="teacherName">Mr. Anuj Gupta</span>
                            <span class="teacherExp">12 Years Exp</span>
                        </div>
                        <div class="col-md-9 testimonialTXT">
                            <p>After a 16 years career in IT, I am semi-retired. To some, retirement means watching TV all day. To me, retirement is, spending the day following my heart, and not worry about bills. As a child, teaching was my dream job and in college, Physics/Maths was my passion. My other passion is Street and Nature photography. Now, I carry my classroom in my laptop and teach my students from wherever I am. I have taken classes from over 10 cities so far.</p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="row">
                        <div class="col-md-3 testimonial-img">
                            <div class="teacherPic"><img src="assets/anuj-gupta.png" alt="Anuj Gupta"></div>
                            <span class="teacherName">Mr. Anuj Gupta</span>
                            <span class="teacherExp">12 Years Exp</span>
                        </div>
                        <div class="col-md-9 testimonialTXT">
                            <p>After a 16 years career in IT, I am semi-retired. To some, retirement means watching TV all day. To me, retirement is, spending the day following my heart, and not worry about bills. As a child, teaching was my dream job and in college, Physics/Maths was my passion. My other passion is Street and Nature photography. Now, I carry my classroom in my laptop and teach my students from wherever I am. I have taken classes from over 10 cities so far.</p>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="row">
                        <div class="col-md-3 testimonial-img">
                            <div class="teacherPic"><img src="assets/anuj-gupta.png" alt="Anuj Gupta"></div>
                            <span class="teacherName">Mr. Anuj Gupta</span>
                            <span class="teacherExp">12 Years Exp</span>
                        </div>
                        <div class="col-md-9 testimonialTXT">
                            <p>After a 16 years career in IT, I am semi-retired. To some, retirement means watching TV all day. To me, retirement is, spending the day following my heart, and not worry about bills. As a child, teaching was my dream job and in college, Physics/Maths was my passion. My other passion is Street and Nature photography. Now, I carry my classroom in my laptop and teach my students from wherever I am. I have taken classes from over 10 cities so far.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Teacher Testimonials END-->

<!--FAQ-->
<section>
    <div class="container">
        <div class="faq-container">
            <h2>Frequently Asked Questions</h2>

            <div class="accordion" id="accordionExample">
                    <div class="card">
                          <button id="headingOne" class="btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            <span>1.</span> How long does it take to get listed on Gyanum?
                          </button>
                  
                      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                        <div class="card-body">
                          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                        </div>
                      </div>
                    </div>
                    <div class="card">
                          <button class="btn-link collapsed" id="headingTwo" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                <span>2.</span> What are the basic requisites to conduct online tutoring sessions at gyanum?
                          </button>
                      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                        <div class="card-body">
                          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. 3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
                        </div>
                      </div>
                    </div>
                    <div class="card">
                          <button class="btn-link collapsed" id="headingThree" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                <span>3.</span> How much does an average teacher earn?
                          </button>
                      <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                        <div class="card-body">
                                On an average, teachers earn more than INR 15000 per month. Assuming a teacher devotes a minimum of 2 hours per day, he/she can easily earn between INR 20000-50000 per month.
                        </div>
                      </div>
                    </div>
                  </div>
        </div>
    </div>
</section>
<!--FAQ END-->
<div class="container">
    <div class="tutorBigBTN">
        <button type="menu" onclick="window.location.href='tutor-registration.html'"  class="btn big-BTN">Register As A Tutor</button>
    </div>   
</div>

<app-footer></app-footer>
</div>