<!-- varify mobile number modal start -->
<div class="modal fade" id="varifyMobile" tabindex="-1" role="dialog" aria-labelledby="varifyMobileLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg custom-modalwidth modal-dialog-centered" role="document">
            <div class="modal-content">
                <!-- <div class="modal-header border-none">
                    
                </div> -->
                
                <div class="row modal-body custm-toppaddingmargin">
                    <!-- close btn  -->
                    <button type="button" class="close modal-img-close" data-dismiss="modal" aria-label="Close">
                        <img src="../../../../assets/modal-close.svg"/>
                    </button>
                    <!-- close btn -->
                    <!-- modal left section start -->
                    <section class="varify-modalleftsection">
                        <div class="justify-content-center">
                            <div class="varifymobile-centercontainer">
                                <h2 class="varify-mobilenumber-heading">Verify Mobile Number</h2>
                                <p class="otphassent-text">An OTP has been sent to your mobile number</p>
                            </div>
                            <form class="varifymobile-centercontainer customwidth-varifymobileform">
                                <div class="form-group">
                                    <label for="mobilenumber" class="registration-label label-widthfull">
                                        Mobile Number
                                        <span class="text-right pull-right">
                                            <a href="#"  data-dismiss="modal" aria-label="Close" class="link-cls font-weight-normal">Edit</a>
                                        </span>
                                    </label>
                                    <input type="tel" class="form-control inputField" readonly id="mobilenumber" placeholder="9999102989">                            
                                    <input type="text" class="form-control inputField input-m-top" id="enterOtp" placeholder="Enter Otp">                            
                                </div>
                                <div class="varifymodaltext-mb">
                                    <span class="text-left otptext">
                                         00.10
                                    </span>
                                    <span class="text-right pull-right otptext">
                                            <a href="#" class="link-cls font-weight-normal">Resend OTP</a>
                                    </span>
                                </div>
                                <button 
                                    type="submit" 
                                    class="btn cta-primary registernow-btn customwidth-modalsubmit">
                                    Submit
                                </button>
                                
                            </form>
                        </div>
                    </section> 
                    <!-- modal left section end -->
                    <!-- modal right section start -->
                    <section class="varify-modalrightsection">
                            <img src="assets/icon-teacher-3-1.png"
                            srcset="assets/icon-teacher-3-1@2x.png 2x,
                                    assets/icon-teacher-3-1@3x.png 3x"
                            class="ICON--teacher-3-1"/>
                    </section>
                    <!-- modal right section end -->
                </div>
                
            </div>
        </div>
    </div>
    <!-- varify mobile number modal end -->